.env
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.egg-info/

build/
dist/
.DS_Store

cache/
results/
mlruns/
generated/*.db
generated/*.db-journal
generated/write_test.txt
mlflow.db

*.zip
*.tar.gz
*.pth
